/* nanvbar */
.navabar-color{
    background-color: #eee;
}

.texto-menu{
  color: rgb(242, 245, 244)!important;
}

/* carrusel */
.carouselApp {
  height: 500px;
  & .carousel-inner {
    height: 100%;
    & .carousel-item img {
      height: 500px;
      object-fit: cover;
    }
  }
}

/* login */

#boton-vet {
   background-color: rgb(26, 199, 138);
    &:hover {
   background-color:  rgb(26, 199, 138);
}}


.enlace {
    color: #78C841;
&:hover {
    color: #55912e;
}
}
/* // boton del navbar */
.btn-login{

    background-color: rgb(87, 173, 136);
    &:hover {
   background-color:   rgb(59, 180, 161);
}}