#boton-login {
   background-color: aqua;
    &:hover {
   background-color: rgb(18, 221, 221);
}}


.enlace {
    color: #FF8653;
&:hover {
    color: #f78e61;
}
}
/* // boton del navbar */
.btn-login{

    background-color: aqua;
    &:hover {
   background-color: rgb(18, 221, 221);
}}