.register-container {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 50%;
  
}

.title-color {
  color: #2c3e50;
}
.registro-btn {
  background: #3498db;
  color: white;
  transition: all 0.3s;
}
.registro-btn:hover {
  background: #2980b9;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
